@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-bg{
filter: blur(6px);
pointer-events: none;
}

html{
scroll-behavior:smooth;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}


.hidden-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}